{% load static %}
<footer>
  <article class="footer-contact">
    <div class="contact-info">
      <p>Adress: 123 Broadway Ave, New York, NY 12345</p>
      <p>Phone: (123) 456-7890</p>
      <p><a href="mailto:contact@littlelemon.com">contact@littlelemon.com</a></p>
    </div>
    <div class="footer-logo">
      <img src="{% static 'img/logo_footer.png' %}" alt="Little Lemon Logo" />
    </div>
  </article>
  <article class="footer-rights">
    <p>© 2025 Zakaria-Engineer. All rights reserved.</p>
  </article>
</footer>
